
/* navigation */

.navigation{
    margin-top: 0;
    background-color: var(--color-background-alpha);
}

.navigation section{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation section .space{
    margin-right: auto;
}

.navigation svg{
    fill: var(--color-text);
}

/* heading */

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading .logo-with-backdrop{
    position: relative;
    height: 16rem;
    width: 16rem;
}

@media screen and (max-width: 720px) {
    .heading .logo-with-backdrop{
        position: relative;
        height: 14rem;
        width: 14rem;
    }
}

.heading .logo{
    height: 100%;
    padding: 2rem;
}

.heading .backdrop{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: var(--gradient);
    z-index: -1;
    filter: blur(3rem);
    opacity: 0.5;
}

.heading h2{
    max-width: var(--size-heading);
}

/* get started */

.get-started p{
    text-align: center;
    margin-top: 1rem;
}

/* features */

.features .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;
}

.features .switch button{
    min-width: max-content;
}

.features .case{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 720px) {
    .features .case{
        display: flex;
        flex-direction: column;
    }
}

.features .case .sidebar{
    flex: none;
    width: 16rem;
}

.features .case .sidebar h3{
    padding-top: 0.6rem;
    margin-bottom: 0.4rem;
}

.features .case .code{
    width: 100%;
    flex: 1 1 auto;
}

/* footer */

footer{
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
}